In [1]:
import requests
import numpy as np
import pandas as pd
import time
from pprint import pprint
from matplotlib import pyplot as plt
from scipy import stats
import psycopg2
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2.extras as extras
import io

In [17]:
location_df = pd.read_csv("location.csv")
period_df = pd.read_csv("period.csv")
product_df = pd.read_csv('product.csv')
ccd_df = pd.read_csv('colonycollapsedisorder.csv')
inventory_max_df = pd.read_csv('inventorymax.csv')
other_causes_df = pd.read_csv('othercauses.csv')
pests_df = pd.read_csv('pests.csv')
varroa_mites_df = pd.read_csv('varroamites.csv')
unknown_df = pd.read_csv('unknown.csv')
pesticides_df = pd.read_csv('pesticides.csv')
disease_df = pd.read_csv('disease.csv')

In [18]:
#you'll need to update your engine details to your username, password, host, port, and database
#engine = create_engine('postgresql+psycopg2://username:password@host:port/database')
def load(df, name):
    engine = create_engine('postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/Bee')

    df.head(0).to_sql( name, engine, if_exists='replace',index=False) #drops old table and creates new empty table

    conn = engine.raw_connection()
    cur = conn.cursor()
    output = io.StringIO()
    df.to_csv(output, sep='\t', header=False, index=False)
    output.seek(0)
    contents = output.getvalue()
    cur.copy_from(output, name, null="") # null values become ''
    conn.commit()

In [19]:
load(period_df, 'period')
load(product_df, 'product')
load(ccd_df, 'colony_collapse_disorder')
load(inventory_max_df, 'inventory_max')
load(other_causes_df, 'other_causes')
load(pests_df, 'pests')
load(varroa_mites_df, 'varroa_mites')
load(unknown_df, 'unknown_causes')
load(pesticides_df, 'pesticides')
load(disease_df, 'disease')
load(location_df, 'location')

In [16]:
ccd_df.head()

,value,domain_desc,unit_desc,short_desc,statisticcat_desc,survey_id
0,70,TOTAL,COLONIES,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...","LOSS, COLONY COLLAPSE DISORDER",11320
1,410,TOTAL,COLONIES,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...","LOSS, COLONY COLLAPSE DISORDER",11420
2,140,TOTAL,COLONIES,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...","LOSS, COLONY COLLAPSE DISORDER",11319
3,180,TOTAL,COLONIES,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...","LOSS, COLONY COLLAPSE DISORDER",11519
4,110,TOTAL,COLONIES,"HONEY, BEE COLONIES - LOSS, COLONY COLLAPSE DI...","LOSS, COLONY COLLAPSE DISORDER",11619